@import "tailwindcss";

.login-page {
    @apply bg-gradient-to-t relative;
}

.login-form {
    @apply mx-auto px-8 py-10 rounded-md w-full max-w-sm border shadow-xl;
}

.skeleton-header {
    @apply rounded-full flex gap-x-4 items-center py-2 px-3;
}

.label-field {
    @apply text-sm text-gray-700 font-semibold has-[+input[required]]:before:content-['*'] has-[+input[required]]:before:text-red-500 has-[+input[required]]:before:pr-1;
}

/** Dark mode */
[data-theme]:has(.theme-controller) .login-page {
    @apply from-slate-950 to-blue-950/75 shadow-none z-10;
}

[data-theme]:has(.theme-controller) .login-form {
    @apply bg-slate-800/45 border-gray-500/55;
}

[data-theme]:has(.theme-controller) .loading-bg {
    @apply bg-[#121b32];
}

[data-theme]:has(.theme-controller) .label-field {
    @apply text-gray-300;
} {
    @apply bg-[#121b32];
}

[data-theme]:has(.theme-controller) .skeleton-header {
    @apply bg-slate-800/90;
}

/** Light mode */
[data-theme]:has(.theme-controller:checked) .login-page {
    @apply from-gray-400/65 to-gray-100 text-gray-800;
}

[data-theme]:has(.theme-controller:checked) .login-form {
    @apply bg-white/80 border-gray-400/50 shadow-slate-400/55;
}

[data-theme]:has(.theme-controller:checked) .loading-bg {
    @apply bg-[#121b32]/20;
}

[data-theme]:has(.theme-controller:checked) .skeleton-header {
    @apply bg-slate-200/90;
}

[data-theme]:has(.theme-controller:checked) .label-field {
    @apply  text-gray-700;
}

/**
bg-white  border-gray-400/25   shadow-gray-400/50 dark:bg-slate-900/40 dark:shadow-none dark:border-gray-300/45  z-10 dark:backdrop-blur-md
*/

/**
bg-gradient-to-b from-blue-50 from-25% to-blue-500/85 dark:from-slate-900/90 dark:from-5% dark:via-slate-950 dark:via-50% dark:to-slate-900/75 dark:after:bg-sky-800/25
*/

@layer components {
    .grid-form {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: minmax(260px, 1fr) 1fr;
        grid-template-areas:
        "card-1 card-1 card-2"
        "card-3 card-4 card-4";
        gap: 2rem;
    }
}
