@import "tailwindcss";

@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --spacing-navbar-peak: 85px;
    --spacing-sidebar-min-span: 70px;
    --spacing-sidebar-max-span: 250px;
    --spacing-sidebar-peak: calc(100vh - var(--spacing-sidebar-min-span));
    --spacing-content-peak: calc(100vh - var(--spacing-navbar-peak));
    --color-sidebar: #f3f4f6;
    --color-navbar: #fff;
    --color-sidebar-content: #fff;
    --color-layer: #121b32;
    --form-rows: repeat(autofit, 250px);
}

@plugin "daisyui/theme" {
    name: "light";
    --color-primary: #3f3eed;
    --color-base-100: #f1f4f6;
    --color-sidebar: #151a24;
    --color-navbar: #fff;
    --color-neutral: var(--color-gray-100);
    --color-neutral-content: var(--color-slate-700);
    --color-layer: #fff;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #3f3eed;
    --color-base-100: #090e18;
    --color-sidebar: transparent;
    --color-navbar: #151a24;
    --color-neutral: #f7f7ff0d;
    --color-layer: #121b32;
}

@layer components {
    .admin-sidebar {
        @apply fixed bg-sidebar text-sidebar-content flex flex-col min-h-screen border-r border-r-neutral;
        width: var(--sidebar-w, var(--spacing-sidebar-max-span));
    }
}
